@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap'); /* importando uma fonte do Google */

body {
    background-color: #B3B7EE;
    font-family: "Roboto Mono", sans-serif;
    margin: 100px 20px ;
}
h1{
    color:black;
    font-size: 30px;
    text-align: center;
    margin: auto;
    padding: 20px 20px 0px 20px;
}
.container {
    background-color: #ccc;
    border-radius: 15px;
    box-shadow: 3px 3px 3px #525151;
    max-width: 600px;
    margin: auto;
}
form{
    margin: 20px 20px 0px 20px;
    padding: 20px;
}
label {
    display: block;
    margin-top: 15px;
}
input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
button {
    font-family: "Roboto Mono", sans-serif;
    font-weight: 600;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
}
.nfse {
    margin: 0px 20px 20px 20px;
    padding: 20px;
    border: 1px solid #ccc;
}
